html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline}
html{overflow:auto;}
body#login{background:none repeat scroll 0 0#303030;border-top:medium none;color:#999999;margin-top:1px;font:12px/18px'Lucida Grande','Lucida Sans Unicode','Lucida Sans Regular',Verdana,sans-serif;line-height:1;text-align:left;}:focus{outline:0}
a{text-decoration:none;cursor:pointer;}
a:focus{-moz-outline:0;outline:0;outline-offset:0;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-weight:bold;font-family:'Lucida Grande','Trebuchet MS','Lucida Sans Unicode','Lucida Sans Regular',Verdana,sans-serif;}
h2{font-size:15px;}
div.module{margin-bottom:15px;font-size:11px;position:relative;width:100%;}
div.module-head{padding:9px 12px 9px 12px;}
div.module div.wrap{float:left;width:100%;margin:0 0-14px 0;_margin:0 0-8px 0;padding:10px 0 0 0;}
div.module div.content{margin:0 12px;}
div.module-footer div{display:block;}
div#simple-footer{font:12px/18px'Lucida Grande','Lucida Sans Unicode','Lucida Sans Regular',Verdana,sans-serif;display:block;clear:both;margin:-6px 0 0 0}
div#simple-footer span{color:#666666;padding:0 12px;font-size:9px;font-weight:bold;}
input{vertical-align:middle;}
button.primary_sm{font-weight:bold;display:inline-block;margin:0 auto;text-align:center;cursor:pointer;}
button.primary_lg{font:11px/22px'Lucida Grande',Verdana,sans-serif;height:24px;padding:0 8px;}
button.primary_lg:hover{background-position:0%-23px;}
button.right,a.right{float:right;margin:0 0 0 4px;}
body#login h4{padding:15px;font-size:22px;font-weight:normal;}
body#login div#footer{text-align:center;}
div#login-container{text-align:center;width:100%;}
div#login-content{margin:120px auto 0;text-align:left;}
div.module{margin-bottom:15px;font-size:11px;position:relative;width:100%;}
div.module-head{padding:9px 12px 9px 12px;}
div.module-head h3{display:block;}
div.module-head h3.yanker{line-height:0;height:0;}
div.module h5{margin:0 0 2px 0;}
div.module p{padding:0 0 4px 0;}
div.module div.wrap{float:left;width:100%;margin:0 0-14px 0;_margin:0 0-8px 0;padding:10px 0 0 0;}
div.module div.content{margin:0 12px;}
div.module div.divider{margin:0 0 9px 0}
div.module{background:#121212 url(/admin_login_theme/css/images/bg_module_tl.gif)no-repeat top left;}
div.module-head{background:transparent url(/admin_login_theme/css/images/bg_module_tr.gif)no-repeat top right;}
div.module-head button{border-color:#000;}
div.module div.wrap{background:#222;}
div.module div.divider{border-bottom:1px solid#333;}
div.module-footer div{background:url("/admin_login_theme/css/images/bg_module_br.gif")no-repeat scroll right bottom transparent;display:block;float:right;height:8px;margin-top:14px;width:8px;}
div.module-footer{clear:both;height:22px;background:url("/admin_login_theme/css/images/bg_module_bl.gif")no-repeat scroll left bottom#222222;}
input.wide,textarea.wide{width:99%;}
input,textarea{border:1px solid#000;background:#ddd;}
input{height:16px;line-height:16px;}
input:focus,textarea:focus{background:#fff;}
input.file{color:#fff;}
fieldset.solo{border-top:1px solid#444;border-bottom:1px solid#444;}
label{color:#fff;}
label span.req{color:#e4675c;}
form.quad label{color:#fff;}
label{display:block;font-family:'Lucida Grande','Trebuchet MS','Lucida Sans Unicode','Lucida Sans Regular',Verdana,sans-serif;font-weight:bold;margin-top:0;padding:5px 0 14px;}
button.primary_lg{background:url("/admin_login_theme/css/images/bttn_primary_lg.gif")no-repeat scroll left top transparent;border:1px solid#111111;*border:0px solid#111111;color:#FCFCFC;text-shadow:0 1px 0#000000;}
button.right,a.right{float:right;margin:0 0 0 4px;}
button.primary_lg{font:11px/22px'Lucida Grande',Verdana,sans-serif;height:24px;*height:24px;*font-size:11px;padding:0 8px;}
button.primary_lg{cursor:pointer;display:inline-block;font-weight:bold;margin:0 auto;opacity:0.99;text-align:center;}
button{background-repeat:no-repeat;}
button.primary_lg:hover{background-position:0-23;}
fieldset{border:0 none;display:block;margin:0;padding:2px 0 14px;position:relative;}
input.radio{background:none repeat scroll 0 0 transparent;border:medium none;margin:0;width:auto;}
body{background:#222;color:#999;margin-top:1px;}
a{color:#eee;}
strong,h1,h2,h4,h5,h6{color:#eee;}
div.module div.wrap{background:none repeat scroll 0 0#222222;}
div.module div.wrap{float:left;margin:0 0-14px;padding:10px 0 0;width:100%;}
a.mute{display:block;margin-top:5px;}
#authMessage{background:url("/admin_login_theme/css/images/icon_error.png")no-repeat scroll 0 0 transparent;color:#FFD100;float:none;height:14px;padding-bottom:5px;padding-left:18px;padding-top:2px;text-align:left;width:233px;}