
.title {
    color:#CCCCCC;
    background-color: #333333;
    height:22px;
    cursor:move;
    padding-top:1px;
    margin-left:7px;
    margin-right:7px;
    border-top:1px solid #434343;
}

.icons { float:right; padding-top:2px; }

.close { color:White; text-decoration:none; margin-right:2px; }

.minimise { color:Yellow; text-decoration:none; }

.maximise
{
    color:Orange;
    text-decoration:none;
}

.content
{
    overflow:auto;
    border:none;
    background-color:#FFFFFF;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding:5px;
}



#window-container div.window
{
    /* sorts out positioning */
    position: absolute;
    left: 10px;
    top: 10px;
    clear: both;
    background-color:Transparent;
}

    #window-container div.window div.contentWrapper
    {
        /* actual styling */
        background-color:Transparent;
        position:absolute;
        left:5px;
        top:0px;
    }
    
    #window-container div.window img.bottomLeftCorner
    {
        position:absolute;
        bottom:0;
        left:0;
    }
     
    #window-container div.window img.bottomRightCorner
    {
        position:absolute;
        bottom:0;
        right:0;
    }
    
    #window-container div.window img.topLeftCorner
    {
        position:absolute;
        top:0;
        left:0;
    }
    
    #window-container div.window img.topRightCorner
    {
        position:absolute;
        top:0;
        right:0;
    }
           
    #window-container div.window div.bottomBorder
    {
        position:absolute;
        left:15px;
        bottom:0;
        background-image:url("../images/window/bottomBorder.png");
        background-repeat:repeat-x;
        background-position:bottom;
        height:19px;
        
    }
    
    #window-container div.window div.rightBorder
    {
        position:absolute;
        top:16px;
        right:0;
        background-image:url("../images/window/borderRightRepeat.png");
        background-repeat:repeat-y;
        background-position:right;
        width:20px;
    }
    
    #window-container div.window div.leftBorder
    {
        position:absolute;
        top:16px;
        left:0;
        background-image:url("../images/window/borderLeft.png");
        background-repeat:no-repeat;
        background-position:left;
        background-color:#333333;
        width:20px;
    }